version: "3.8"

services:
  playwright:
    image: mcr.microsoft.com/playwright:v1.40.0-focal
    working_dir: /app
    volumes:
      - .:/app
    command: npx playwright test
    environment:
      - BASE_URL=${BASE_URL:-https://robot-store-sandbox.onrender.com}
      - CI=true
